appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
bleach==3.3.0
bokeh==2.3.0
brotlipy==0.7.0
cached-property==1.5.2
cclib==1.7
certifi==2021.5.30
cffi==1.14.5
cftime==1.4.1
chardet==4.0.0
colorcet==2.0.6
cryptography==3.4.6
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
gmpy2==2.0.8
h5py==3.1.0
holoviews==1.14.2
idna==2.10
imageio==2.9.0
importlib-metadata==3.7.3
ipykernel==5.3.4
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
llvmlite==0.36.0
loguru==0.5.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
meshio==4.3.8
mistune==0.8.4
mpmath==1.2.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.4.3
netCDF4==1.5.6
notebook==6.3.0
numba==0.53.0
numpy==1.20.1
numpy-quaternion==2021.3.17.16.51.43
olefile==0.46
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.2
panel==0.11.1
param==1.10.1
parso==0.8.1
patsy==0.5.1
periodictable==1.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pip==21.0.1
plotly==4.14.3
prometheus-client==0.9.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycparser==2.20
pyct==0.4.6
Pygments==2.8.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
pyvista==0.29.0
pyviz-comms==2.0.1
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
retrying==1.3.3
scipy==1.6.1
scooby==0.5.6
seaborn==0.9.0
Send2Trash==1.5.0
setuptools==49.6.0.post20210108
six==1.15.0
spherical-functions==2021.8.6.19.23.59
statsmodels==0.12.2
sympy==1.8
terminado==0.9.3
testpath==0.4.4
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
transforms3d==0.3.1
typing-extensions==3.7.4.3
urllib3==1.26.5
vtk==9.0.1
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
xarray==0.15.0
zipp==3.4.1
