# Unversioned minimal requirements
# Can force Anaconda env install with: while read requirement; do conda install --yes $requirement; done < requirements_minimal_unversioned.txt
# See https://stackoverflow.com/questions/35802939/install-only-available-packages-using-conda-install-yes-file-requirements-t
#
# 12/08/21: this version has Xarray & Seaborn pinned to versions prior to package breaking changes, to be fixed!
#           UPDATE 27/10/22: Xarray up to v2022.3.0 (March 2022) now OK, but IO issues with newer versions.
# 20/04/21: unversioned requirements testing

numpy_quaternion
numpy
scipy
xarray<=2022.3.0
#==0.15.0
pandas
matplotlib
seaborn==0.9.0
spherical_functions

# Optional, but included here for now

numba
pyvista
cclib
holoviews
plotly
jupyter-dash    # For Plotly Jupyter Lab rendering
