# Unversioned minimal requirements
# Can force Anaconda env install with: while read requirement; do conda install --yes $requirement; done < requirements_minimal_unversioned.txt
# See https://stackoverflow.com/questions/35802939/install-only-available-packages-using-conda-install-yes-file-requirements-t

numpy_quaternion
numpy
scipy
xarray
pandas
matplotlib
seaborn
spherical_functions

# Optional, but included here for now

numba
pyvista
cclib
holoviews
plotly
