adduserpath==0.4.0
alabaster==0.7.12
appdirs==1.4.3
argh==0.26.2
asn1crypto==1.3.0
astroid==2.3.3
astropy==4.0
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
bcrypt==3.1.7
bleach==3.0.2
bokeh==1.4.0
Bottleneck==1.2.1
certifi==2020.6.20
cffi==1.14.0
cftime==1.0.4.2
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
colorama==0.4.1
colorcet==2.0.2
commonmark==0.9.0
coverage==4.5.2
cryptography==2.8
cycler==0.10.0
cytoolz==0.10.1
dask==2.1.0
decorator==4.4.1
defusedxml==0.6.0
diff-match-patch==20181111
distributed==2.5.2
docutils==0.14
entrypoints==0.3
fastcache==1.1.0
flake8==3.7.9
future==0.18.2
h5netcdf==0.8.0
h5py==2.10.0
hatch==0.20.0
HeapDict==1.0.1
holoviews==1.13.4
hvplot==0.6.0
idna==2.7
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==1.7.0
intervaltree==3.0.2
ipydatawidgets==4.0.1
ipykernel==5.1.4
ipympl==0.5.8
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itk-core==5.1.1
itk-filtering==5.1.1
itk-io==5.1.1
itk-numerics==5.1.1
itk-registration==5.1.1
itkwidgets==0.32.0
jedi==0.14.1
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.0.4
jupyterlab-server==1.0.6
jupytext==1.2.1
keyring==21.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.29.0
locket==0.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
meshio==4.1.1
mistune==0.8.4
mkinit==0.2.0
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==4.3.0
mpmath==1.1.0
msgpack==0.6.1
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.4
nbsphinx==0.7.1
netCDF4==1.4.2
notebook==6.0.3
numba==0.45.0
numpy==1.18.1
numpy-quaternion==2019.7.23.15.26.49
numpydoc==0.9.2
olefile==0.46
ordered-set==3.1.1
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
panel==0.8.3
param==1.9.3
paramiko==2.7.1
parso==0.5.2
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.2
perfplot==0.7.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.4.2
plotly==4.11.0
pluggy==0.8.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
psutil==5.6.7
ptyprocess==0.6.0
py==1.7.0
pycodestyle==2.5.0
pycparser==2.19
pyct==0.4.8
pydocstyle==4.0.1
pyflakes==2.1.1
Pygments==2.3.0
pylint==2.4.4
Pympler==0.6
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyreadline==2.1
pyrsistent==0.15.7
pyshtools==4.5
PySocks==1.7.1
pytest==4.0.1
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
pytz==2019.3
pyvista==0.25.3
pyviz-comms==0.7.6
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3
pyzmq==18.1.1
QDarkStyle==2.8
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
readme-renderer==24.0
recommonmark==0.6.0
requests==2.20.1
requests-toolbelt==0.8.0
retrying==1.3.3
rise==5.6.1
rope==0.16.0
Rtree==0.9.3
scipy==1.3.0
scooby==0.5.6
seaborn==0.9.0
semver==2.8.1
Send2Trash==1.5.0
six==1.11.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
sparse==0.9.1
spherical-functions==2019.7.12.23.25.11
Sphinx==2.4.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==4.0.1
spyder-kernels==1.8.1
statsmodels==0.11.0
sympy==1.4
tblib==1.6.0
terminado==0.8.3
termtables==0.1.1
testpath==0.4.4
toolz==0.10.0
tornado==6.0.3
tqdm==4.28.1
traitlets==4.3.3
traittypes==0.2.1
ttictoc==0.4.1
twine==1.12.1
ujson==1.35
urllib3==1.24.1
version-information==1.0.3
virtualenv==16.1.0
vtk===-PKG-VERSION
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
wget==3.2
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
xarray==0.15.0
xyzpy==0.3.1
yapf==0.28.0
zict==1.0.0
zipp==2.2.0
zstandard==0.13.0
